.content {
  padding: 18px;
  /* panel radius = control radius + panel padding / 2 */
  border-radius: calc(6px + 18px / 2);

  animation-timing-function: var(--ease);
  will-change: transform opacity;
  transform-origin: var(--radix-popover-content-transform-origin);

  max-height: 80vh;
  overflow: auto;
}

/* prettier-ignore */
@keyframes fadeIn {
  from { opacity: 0; transform: rotateX(-10deg); }
  to { opacity: 1; transform: rotateX(0deg); }
}

/* prettier-ignore */
@keyframes fadeOut {
  from { opacity: 1; transform: rotateX(0deg); }
  to { opacity: 0; transform: rotateX(-10deg); }
}

.content[data-state="open"] {
  animation-name: fadeIn;
  animation-duration: 200ms;
}

.content[data-state="closed"] {
  animation-name: fadeOut;
  animation-duration: 600ms;
}
