.content {
  padding: 18px;
  /* panel radius = control radius + panel padding / 2 */
  border-radius: calc(6px + 18px / 2);
  /* toolbar is about 50px */
  max-height: calc(100vh - 70px);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
