.onActive,
.onFocus {
  transition: outline 300ms var(--ease);
}

.onActive,
.onFocus,
.onFocus:focus {
  outline: solid 8px transparent;
}

.onActive.active,
.onFocus:focus-visible {
  outline: solid 2px var(--color-rose);
}
