/* stack */

.container {
  display: flex;
  align-items: center;
}

.center {
  flex: 0 0 auto;
}

.left,
.right {
  flex: 1 1 0px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 8px;

  /* Padding for outline to be visible */
  padding: 8px 16px;
}

.left > *,
.right > * {
  flex: 0 0 auto;
}

.right {
  justify-content: end;
}

/* show hide */

.container {
  transition-property: opacity;
  transition-timing-function: var(--ease);
}

.container.hide {
  opacity: 0;
  transition-duration: 0.6s;
}

.container.show {
  opacity: 1;
  transition-duration: 0.2s;
}
