.container {
  /* Provided by the "size" middleware of floating-ui
     See Popover code */
  max-height: var(--max-height);
  overflow: auto;
  /* Provided by host (Popover, Menu) */
  border-radius: var(--panel-radius);

  background-color: rgba(var(--color-surface-rgb), 0.7);
  backdrop-filter: blur(20px);
  border: solid 1px var(--color-highlightHigh);

  box-shadow: 0 1px 2px rgba(0, 0, 0, var(--shadow-opacity)),
    0 2px 4px rgba(0, 0, 0, var(--shadow-opacity)),
    0 4px 8px rgba(0, 0, 0, var(--shadow-opacity)),
    0 8px 16px rgba(0, 0, 0, var(--shadow-opacity)),
    0 16px 32px rgba(0, 0, 0, var(--shadow-opacity)),
    0 32px 64px rgba(0, 0, 0, var(--shadow-opacity));
}

.wrapper {
  perspective: 100vh;
}

.transition {
  transition-property: transform opacity;
  transform-origin: top;
  transition-timing-function: var(--ease-out-quint);
}

.enter {
  transition-duration: 200ms;
}

.leave {
  transition-duration: 800ms;
}

.hide {
  opacity: 0;
  transform: rotateX(-10deg);
}

.show {
  opacity: 1;
  transform: rotateX(0deg);
}
