.wrapper {
  /* Reliable offset to anchor and screen */
  padding: 8px;
}

.container {
  width: 360px;
  max-height: 80vh;
  overflow: auto;

  background-color: var(--color-base);
  border: solid 1px var(--color-highlightMed);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.group {
  padding: 12px;
  background-color: var(--color-surface);
  border: solid 1px var(--color-highlightMed);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.line {
  border: none;
  border-bottom: solid 1px var(--color-highlightMed);
}
