.button {
  background: none;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

.button:hover,
.button.selected {
  background-color: var(--color-overlay);
}

.button svg {
  /* octicon put "inline-block" at style */
  display: block !important;
}
