.container {
  height: 100%;

  position: relative;
}

.toolbar {
  position: absolute;
  z-index: 1;
  inset: 0;
  bottom: auto;
}

.input {
  height: 100%;
}

.status {
  position: absolute;
  z-index: 1;
  inset: 0;
  top: auto;
}
