/* Inactive */
.onClassActive,
.onDataHighlighted,
.onFocus {
  outline: solid 8px transparent;
  transition: outline 300ms var(--ease);
}

/* Active */
.onClassActive.active,
.onDataHighlighted[data-highlighted],
.onFocus:focus-visible {
  outline: solid 2px var(--color-rose);
}

/* Remove default */
.none,
.onFocus:focus {
  /* Avoid "outline: none" as it shifts layout */
  outline: solid 8px transparent;
}
